fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #333;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #333;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #333;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after {
	background: #333;
	content: "";
	height: 8px;
	left: 4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #333;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	width: 100%;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-404 {
	margin-top: 12.5rem;
}

.l-breadcrumb {
	font-size: 0.875rem;
}

.l-company {
	margin-top: 5rem;
}

.l-header {
	left: 0;
	padding-top: 1.25rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.l-map {
	margin-top: 2.5rem;
}

.l-message {
	margin-top: 5rem;
}

.l-pagenavi {
	margin-top: 6.25rem;
}

.l-single {
	margin-bottom: 5rem;
	margin-top: 5rem;
}

.l-sub-contact {
	margin-top: 5rem;
}

.l-sub-topics {
	margin-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.l-top-about {
	margin-top: 4.875rem;
}

.l-top-bg {
	background-color: #F0F0F0;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}

.l-top-box:nth-of-type(2) {
	margin-top: 2.5rem;
}

.l-top-contact {
	margin-top: 2.5rem;
}

.l-top-topics {
	margin-top: 2.5rem;
}

.l-vision {
	margin-top: 5rem;
}

.c-btn {
	background-color: #000;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 0.6875rem;
	font-weight: 500;
	letter-spacing: 0.015em;
	line-height: 1;
	padding: 0.6875rem 2.75rem;
	text-transform: uppercase;
}

.c-copy {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 0.625rem;
	font-weight: 500;
	letter-spacing: 0.015em;
	line-height: 1;
}

.c-hamburger {
	align-items: center;
	display: flex;
	height: 0.625rem;
	justify-content: center;
	padding: 10px;
	position: absolute;
	width: 1.375rem;
	z-index: 999;
}

.c-hamburger:hover {
	cursor: pointer;
}

.c-hamburger span {
	background: #fff;
	height: 2px;
	position: absolute;
	transition: 0.3s ease-out;
	width: 25px;
}

.c-hamburger span:nth-of-type(1) {
	top: 0;
}

.c-hamburger span:nth-of-type(2) {
	top: 5px;
}

.c-hamburger span:nth-of-type(3) {
	top: 10px;
}

.c-hamburger {
	z-index: 9999;
}

/*OPEN時の動き*/

.c-hamburger.open span:nth-child(1) {
	top: 10px;
	transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.open span:nth-child(3) {
	top: 10px;
	transform: rotate(-45deg);
}

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	background-color: #1C181A;
	border: 1px solid #1C181A;
	border-radius: 3px;
	color: #fff;
	margin: 0 2px;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-pagenavi a:hover {
	background-color: #FF0037;
	border-color: #FF0037;
	color: #FFF;
}

.wp-pagenavi span.current {
	background-color: #CFD5DA;
	border-color: #CFD5DA;
	color: #777;
	font-weight: bold;
}

.c-section__title {
	color: #333;
	font-family: "Montserrat", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	letter-spacing: 0.068em;
	text-transform: uppercase;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-text {
	line-height: 2;
}

.p-404 {
	color: red;
	font-size: 6.25rem;
	padding-bottom: 62.5rem;
	text-align: center;
}

.p-about {
	background-image: url(./../img/common/top-about.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.p-about::after {
	background-color: rgba(0, 0, 0, 0.16);
	content: "  ";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.p-about__inner {
	max-width: 62.5rem;
	padding-bottom: 3.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	padding-top: 3.125rem;
}

.p-about__block {
	background-color: #fff;
	padding: 3.125rem 0.9375rem 3.125rem 0.9375rem;
}

.p-about__box {
	margin-top: 1.875rem;
}

.p-about__text {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 2;
}

.p-about__btn {
	margin-top: 1.875rem;
}

.p-box__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.p-box__img {
	margin-top: 1.875rem;
	position: relative;
}

.p-box__img::before {
	-o-object-fit: cover;
	-o-object-position: center;
	content: "";
	display: block;
	left: 50%;
	object-fit: cover;
	object-position: center;
	padding-top: 67.246%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-box__body,
.p-box__btn {
	margin-top: 1.875rem;
}

.p-box__text {
	font-weight: 500;
}

.p-box01__title {
	background: #fff;
	border: 1px solid #111;
	border-radius: 32px;
	display: inline-block;
	margin-left: 2.375rem;
	padding: 0.5rem 1.5625rem;
}

.p-box01__text {
	border: 1px solid #111;
	margin-top: -1.25rem;
	padding: 2.75rem 1.375rem 2rem;
}

.p-company__info {
	margin-top: 1.875rem;
}

.p-contact-button__submit {
	-webkit-appearance: none;
	background-color: #000;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.875rem;
	padding: 0.6875rem 4.125rem;
	text-decoration: none;
}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
	outline: none;
}

.p-contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.p-contact-checkbox__item + span {
	cursor: pointer;
	display: inline-block;
	font-size: 0.875rem;
	letter-spacing: 0.04em;
	line-height: 1.71429;
	padding: 0 0 0 1.5625rem;
	position: relative;
}

.p-contact-checkbox__item + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.p-contact-checkbox__item + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #333;
	border-left: 3px solid #333;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.p-contact-checkbox__item:checked + span::after {
	opacity: 1;
}

.p-contact-radio {
	display: flex;
	flex-direction: column;
	padding-left: 0.625rem;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	padding: 0.3125rem 0.9375rem 0.3125rem 1.5625rem;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	content: "";
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
}

input[type="radio"] + span::after {
	-webkit-transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.32);
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 4px;
	opacity: 0;
	padding: 2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 8px;
}

input[type="radio"]:checked + span::after {
	opacity: 1;
}

.p-contact-text__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #333333;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	width: 100%;
}

.p-contact-text__text:focus {
	border: 1px solid #333333;
	box-shadow: none;
	outline: none;
}

.p-contact-textarea__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #333333;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	height: 13.125rem;
	padding: 0.3125rem 0.625rem;
	width: 100%;
}

.p-contact-textarea__text:focus {
	border: 1px solid #333333;
	box-shadow: none;
	outline: none;
}

.p-contact {
	background-color: #F2F2F2;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}

.p-contact__img {
	position: relative;
}

.p-contact__img::before {
	-o-object-fit: cover;
	-o-object-position: center;
	content: "";
	display: block;
	left: 50%;
	object-fit: cover;
	object-position: center;
	padding-top: 67.246%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-contact__box {
	margin-top: 1.875rem;
}

.p-contact__body {
	margin-top: 1.5625rem;
}

.p-contact__text {
	color: #333333;
	font-weight: 500;
	line-height: 2;
}

.p-contact__btn {
	margin-top: 1.875rem;
}

.p-drawer-menu {
	background-color: rgba(34, 34, 34, 0.95);
	display: none;
	height: 100vh;
	left: 0;
	margin-left: auto;
	max-width: 32.5rem;
	overflow: scroll;
	padding-bottom: 6.25rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
}

.p-drawer-menu__logo {
	margin: auto;
	padding-top: 11.25rem;
	width: 2.63437rem;
}

.p-drawer-menu__items {
	margin-top: 1.25rem;
}

.p-drawer-menu__item a {
	color: #fff;
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 1.25rem;
	font-weight: 800;
	letter-spacing: 0.068em;
	line-height: 1;
	padding: 1.25rem 0;
	text-transform: uppercase;
	width: 100%;
}

.p-explain {
	border-top: 1px solid #DDDDDD;
}

.p-explain__block {
	align-items: center;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	font-size: 0.875rem;
	letter-spacing: 0.04em;
	padding: 1.5rem 0 1.3125rem;
}

.p-explain__block:not(:first-child) {
	border-top: none;
}

.p-explain__header {
	max-width: 4.5625rem;
	width: 100%;
}

.p-explain__description {
	margin-left: 5.625rem;
	max-width: 11.375rem;
	width: 100%;
}

.p-footer {
	background-color: #525252;
	padding: 1.25rem 0;
	text-align: center;
}

.p-header.headerColorScroll {
	background-color: #525252;
	transition: ease 0.4s;
}

.p-header__inner {
	padding: 0 0.9375rem;
}

.p-header__logo {
	display: block;
	max-width: 100%;
	width: 11.8125rem;
}

.p-header__drawer {
	margin-right: 0.625rem;
	position: absolute;
	right: 3.375rem;
	top: 1.25rem;
}

.p-header__menuText {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 0.625rem;
	font-weight: 800;
	position: absolute;
	right: 0.9375rem;
	text-transform: uppercase;
	top: 1.25rem;
	z-index: 999;
}

.p-header__overlay {
	background-color: rgba(34, 34, 34, 0.6);
	display: none;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.p-map {
	padding-bottom: 5rem;
}

.p-map__iframe {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-map__iframe::after {
	content: "";
	display: block;
	padding-top: 136.231%;
}

.p-map__iframe iframe {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-message__img {
	margin-right: auto;
	width: 21.25rem;
}

.p-message__wrapper {
	background-color: #F0F0F0;
	margin-top: -6.25rem;
	padding: 7.875rem 1.8125rem 5rem 1.75rem;
}

.p-message__content {
	margin-top: 1.5625rem;
}

.p-message__box {
	margin-top: 1.5625rem;
}

.p-message__text {
	font-size: 0.875rem;
	line-height: 2;
}

.p-message__text:nth-child(n + 2) {
	margin-top: 1.75rem;
}

.p-mv {
	height: 100vh;
	position: relative;
}

.p-mv::after {
	background-color: #222222;
	content: "";
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	width: 75.5%;
	z-index: -2;
}

.p-mv__img::before {
	-o-object-fit: cover;
	-o-object-position: top;
	background-color: rgba(0, 0, 0, 0.34);
	content: "";
	height: 87vh;
	left: 0;
	object-fit: cover;
	object-position: top;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-mv__img {
	-o-object-fit: cover;
	-o-object-position: top;
	content: "";
	height: 87vh;
	left: 0;
	object-fit: cover;
	object-position: top;
	position: absolute;
	top: 0;
	width: 76.5%;
	z-index: -1;
}

.p-mv__img img {
	-o-object-fit: cover;
	-o-object-position: top;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.p-mv__block {
	color: #fff;
	position: absolute;
	right: 0.625rem;
	top: 50%;
	transform: translateY(-50%);
}

.p-mv__subtitle {
	font-size: 16px;
	font-weight: bold;
}

.p-mv__subtitle--en {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.063em;
}

.p-mv__title {
	font-family: "Montserrat", sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	letter-spacing: 0.063em;
	line-height: 1.0566;
	margin-top: 0.3125rem;
}

.p-privacy-policy {
	background-color: #fff;
	border: 1px solid #333;
	height: 14.125rem;
	overflow: scroll;
	width: 100%;
}

.p-privacy-policy__content {
	height: inherit;
	padding: 0.625rem;
}

.p-privacy-policy__text {
	font-size: 0.875rem;
	letter-spacing: 0.04em;
	line-height: 1.71429;
}

.p-single__inner.l-inner {
	max-width: 50rem;
}

.p-single__title {
	margin-top: 1.5625rem;
}

.p-single__date {
	color: #CECECE;
	font-family: "Montserrat", sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.032em;
	line-height: 1;
	margin-top: 1.25rem;
}

.p-single__body {
	margin-top: 3.75rem;
}

.p-single__body p {
	color: #333333;
	font-weight: 500;
	line-height: 2;
}

.p-single__box01 + .p-single__box01 {
	margin-top: 3rem;
}

.p-single__content {
	margin-top: 3.75rem;
}

.p-sub-contact {
	padding-bottom: 5rem;
}

.p-sub-contact__content {
	margin-top: 3.125rem;
}

.p-sub-contact__content + .p-sub-contact__content {
	margin-top: 2.5rem;
}

.p-sub-contact__text {
	font-size: 0.875rem;
	letter-spacing: 0.04em;
	line-height: 1.71429;
}

.p-sub-contact__head {
	align-items: center;
	display: flex;
}

.p-sub-contact__title {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.04em;
	line-height: 1;
	margin-right: 0.9375rem;
}

.p-sub-contact__required {
	background-color: #333333;
	color: #FFFFFF;
	font-size: 0.75rem;
	letter-spacing: 0.04em;
	line-height: 1.71429;
	padding: 0.1875rem 0.3125rem;
}

.p-sub-contact__item {
	margin-top: 1.25rem;
}

.p-sub-contact__content--button {
	text-align: center;
}

.p-sub-mv {
	height: 28.0625rem;
	position: relative;
}

.p-sub-mv::after {
	background-color: #222222;
	content: "";
	height: 28.0625rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 75.5%;
	z-index: -2;
}

.p-sub-mv__img::before {
	-o-object-fit: cover;
	-o-object-position: top;
	background-color: rgba(0, 0, 0, 0.34);
	content: "";
	height: 24.1875rem;
	left: 0;
	object-fit: cover;
	object-position: top;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-sub-mv__img {
	-o-object-fit: cover;
	-o-object-position: top;
	content: "";
	height: 24.1875rem;
	left: 0;
	object-fit: cover;
	object-position: top;
	position: absolute;
	top: 0;
	width: 76.5%;
	z-index: -1;
}

.p-sub-mv__img img {
	-o-object-fit: cover;
	-o-object-position: top;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.p-sub-mv__block {
	color: #fff;
	position: absolute;
	right: 0.625rem;
	top: 50%;
	transform: translateY(-50%);
}

.p-sub-mv__title {
	font-family: "Montserrat", sans-serif;
	font-size: 3.25rem;
	font-weight: bold;
	letter-spacing: 0.063em;
	line-height: 1.65385;
}

.p-sub-mv__subtitle {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0.625rem;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-topics-info {
	border-bottom: 0.0625rem solid #DDDDDD;
	padding-bottom: 0.625rem;
}

.p-topics-info + .p-topics-info {
	margin-top: 1.25rem;
}

.p-topics-info__date,
.p-topics-info__title {
	display: block;
}

.p-topics-info__date {
	color: #CECECE;
	font-family: "Montserrat", sans-serif;
	font-size: 0.625rem;
	font-weight: 700;
	letter-spacing: 0.032em;
	line-height: 1;
}

.p-topics-info__title {
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.068em;
	line-height: 1.66667;
	padding-top: 0.6875rem;
}

.p-topics__items {
	margin-top: 2rem;
}

.p-topics__items.p-topics__items--wide {
	margin-top: 2rem;
}

.p-vision__content {
	margin-top: 2.3125rem;
}

.p-vision__subtitle {
	font-size: 1.5rem;
	font-weight: 400;
}

.p-vision__box {
	margin-top: 2.1875rem;
}

.p-vision__text {
	font-size: 0.875rem;
	line-height: 2;
}

.p-vision__text:nth-child(n + 2) {
	margin-top: 1.75rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.45455vw;
}

.l-company {
	margin-top: 7.5rem;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-message {
	margin-top: 7.5rem;
}

.l-single {
	margin-bottom: 7.5rem;
	margin-top: 7.5rem;
}

.l-sub-topics {
	margin-top: 3.75rem;
	padding-bottom: 6.25rem;
}

.l-top-about {
	margin-left: auto;
	margin-right: auto;
	margin-top: 7.5rem;
	max-width: 68.75rem;
	width: 100%;
}

.l-top-bg {
	margin-top: -6.25rem;
	padding-bottom: 3.75rem;
	padding-top: 11.25rem;
}

.l-top-bg__inner {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 71.25rem;
	padding: 0 1.25rem;
}

.l-top-box:nth-of-type(2) {
	margin-left: 3.75rem;
	margin-top: 0;
}

.l-top-topics {
	margin-top: 3.75rem;
}

.l-vision {
	margin-top: 7.5rem;
}

.c-section__title {
	font-size: 2rem;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-about__inner {
	max-width: initial;
	padding-bottom: 6.875rem;
	padding-left: 3.125rem;
	padding-top: 6.875rem;
}

.p-about__block {
	margin-right: auto;
	max-width: 36.875rem;
	padding: 3.125rem 1.875rem 3.125rem 1.875rem;
	width: 100%;
}

.p-about__text {
	font-size: 1rem;
}

.p-box {
	max-width: 32.5rem;
	width: 100%;
}

.p-box__inner {
	max-width: 1150px;
	padding: 0;
}

.p-box__btn {
	text-align: right;
}

.p-contact-checkbox__item + span {
	font-size: 1rem;
}

.p-contact-radio {
	flex-direction: row;
}

.p-contact {
	padding-bottom: 7.5rem;
	padding-top: 3.75rem;
}

.p-contact__wrapper {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
}

.p-contact__img {
	max-width: 36.25rem;
	width: 100%;
}

.p-contact__box {
	margin-right: 5rem;
	max-width: 27.5rem;
	width: 100%;
}

.p-explain {
	padding-left: 18.75rem;
}

.p-map__iframe::after {
	padding-top: 32.727%;
}

.p-message__inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1150px;
	padding-left: 15px;
	padding-left: 25px;
	padding-right: 15px;
	padding-right: 25px;
	width: 100%;
}

.p-message__img {
	width: 26.25rem;
}

.p-message__wrapper {
	margin-left: auto;
	max-width: 48.125rem;
	padding: 7.5rem 11.5625rem 5.625rem;
	width: 100%;
}

.p-mv__block {
	right: 12.125rem;
}

.p-mv__subtitle {
	font-size: 1.25rem;
}

.p-mv__subtitle--en {
	font-size: 1.25rem;
}

.p-mv__title {
	font-size: 4.5rem;
}

.p-privacy-policy__text {
	font-size: 1rem;
}

.l-inner.p-sub-contact__inner {
	max-width: 750px;
}

.p-sub-contact__text {
	font-size: 1rem;
}

.p-sub-contact__content--center {
	text-align: center;
}

.p-sub-mv::after {
	height: 29rem;
	width: 54.16%;
}

.p-sub-mv__block {
	right: 12.125rem;
}

.p-sub-mv__title {
	font-size: 4.5rem;
}

.p-sub-mv__subtitle {
	font-size: 1.25rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-topics-info__title {
	font-size: 0.875rem;
}

.p-topics__items {
	margin-left: auto;
	max-width: 43.75rem;
	width: 100%;
}

.p-topics__items.p-topics__items--wide {
	margin: auto;
	margin-top: 2rem;
	max-width: initial;
	width: 100%;
}

.p-vision__inner {
	padding-left: 14.125rem;
}

.p-vision__text {
	font-size: 1rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

