.c-btn {
    font-size: rem(11);
    letter-spacing: 0.015em;
    font-family: $font-family-sub;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    line-height: 1;
    padding: rem(11) rem(44);
}